*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
  background-color: rgb(19, 19, 87);
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 1rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.choice:hover{
    
    cursor: pointer;
      background-color:rgb(19, 19, 87);
   
}



img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}




.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}
.score-board{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 4rem;
}
     
#userscore,#computerscore{
    font-size: 4rem;

}

.msgcontainer{
    margin-top: 2rem;
}

#msg{
    background-color:  rgb(19, 19, 87);
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    
    
    display: inline;
}

img:hover{
  transform: scale(1.1);
}

#reset{
  margin-top: 3rem;
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  background-color: rgb(19, 19, 87);
  color: white;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

